*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(assets/images/sacred-games/sacred-games-netflix.jpg);
    background-position: center;
    background-size: cover;
}
.logo{
    width: 150px;
    margin-top:18px;

}
.header{
    height: 10%;
}
.header-btn{
    text-decoration: none;
    border-radius: 30px;
    padding:7px 20px ;
    float: right;
    margin-top: 15px;
    color: #fff !important;
    background:#107afd ;
    font-weight: 600;

}
.movie-details{
    margin:3% 0 ;
}
.left-box{
    color: #fff;
    margin: 15px 0;
    padding:20px ;
}

.left-box a
{
    text-decoration: none;
    border-radius: 30px;
    padding:7px 10px ;
    float: right;
    margin-top: 35px;
    color: #fff !important;
    background:#107afd ;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
}
.download-btn{
    border:1px solid #fff  !important;
    background: transparent !important;
}
.fa{
    margin: 0 5px;

}
.movie-img{
    height: 350px;
    box-shadow: -4px;
}
.series h3{
    color: white;
}
.series img{
    width: 100%;
    margin-top: 15px;
    box-shadow:-4px 4px 5px 0 #0000;
    cursor: pointer;
}
.series img:hover{
    transform: translateY(-10px);
}


.casting{
    width: 100vw;
    display: flex;
    flex-direction: row;
    z-index: 10;
}
.character {
    padding: 10px;
    border-radius: 20px;
    margin:5px;
    font-weight: bold;
    z-index: 8;

}

.character img{
    background-color: blue;
    width: 130px !important;
    height: 120px;
}
.imgmodel{
    /* transition: 200ms height ease-in-out; */
    height: 0px;
    width:0px;    
}
.showimg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-position: center;
    background-size:contain;
    left: 0;
    background-repeat: no-repeat !important;    
    z-index: 10;
    transition: 200ms height ease-in-out;
}

.movie-img{
    width: 400px;
    height: 400px;
    transform: translate(-200px, -100px);
}


